* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #9599e2;
}

.container {
  width: 70%;
  height: 70vh;
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: black;
  background: linear-gradient(#8ec5fc, #e0c3fc);
}
.tab__items {
  background: #9face6;
  flex-basis: 21%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.tab__items button {
  width: 100%;
  background: transparent;
  border: 0;
  outline: none;
  padding: 18px 30px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.tab__item.active {
  background: linear-gradient(#8ec5fc, #e0c3fc);
  color: #000;
}
.tab__content {
  background: #8ec5fc;
  flex-basis: 79%;
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

}

